# Tugas Mengukur Jarak

In [17]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [18]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
data = pd.read_csv('https://gist.githubusercontent.com/Rezayoga1383/2ccefe0ca9cb007642dbbbcf205c4336/raw/948d775ff62fe0e131d7a48dad54a4ef1008c9d3/data.csv')
data

   No     Nama Jenis Kelamin  Umur         Status Mempunyai anak  Jabatan
0   1     Dono     Laki-laki    20  Belum menikah          Tidak       CS
1   2     Agus     Laki-laki    26        Menikah             Ya   Satpam
2   3    Anita     Perempuan    28        Menikah             Ya       CS
3   4    Dohan     Laki-laki    21  Belum menikah          Tidak   Satpam
4   5  Kautsar     Laki-laki    29        Menikah             Ya  Manajer

In [21]:
X = data[['Jenis Kelamin', 'Umur', 'Status', 'Mempunyai anak', 'Jabatan']].copy()
X['Jenis Kelamin'] = pd.Categorical(X['Jenis Kelamin']).codes
X['Umur'] = pd.Categorical(X['Umur']).codes
X['Status'] = pd.Categorical(X['Status']).codes
X['Mempunyai anak'] = pd.Categorical(X['Mempunyai anak']).codes
X['Jabatan'] = pd.Categorical(X['Jabatan'], categories=['CS', 'Satpam', 'manajer'], ordered=True).codes

In [22]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

In [23]:
print(dist_matrix)

[[0.         0.71428571 0.85714286 0.28571429 1.        ]
 [0.71428571 0.         0.42857143 0.42857143 0.57142857]
 [0.85714286 0.42857143 0.         0.85714286 0.42857143]
 [0.28571429 0.42857143 0.85714286 0.         1.        ]
 [1.         0.57142857 0.42857143 1.         0.        ]]