In [11]:
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.decomposition import PCA

In [12]:
dataset = pd.read_csv('https://gist.githubusercontent.com/Rezayoga1383/2ccefe0ca9cb007642dbbbcf205c4336/raw/7dfd3f182984c41df3f6c0564efe235b9720cfd9/datairis.csv')
baris = dataset.shape[0]
dataset.head(baris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
dataset_copy = dataset.copy()
dataset_copy.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
dataset_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [15]:
# features and target
X = dataset_copy[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
y = dataset_copy['species']

In [16]:
# Normalisasi pada X
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

# Normalisasi pada y
label = LabelEncoder()
y = label.fit_transform(y)

In [17]:
# Menyimpan normalisasi ke file
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# Menyimpan normalisasi ke file
with open('label.pkl', 'wb') as file:
    pickle.dump(label, file)

In [18]:
# Membuat DataFrame dari X dan y menggunakan pandas
liat = pd.DataFrame(X, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
liat['target'] = y

# Menampilkan DataFrame yang digabungkan
liat.head(baris)

     sepal_length  sepal_width  petal_length  petal_width  target
0        0.222222     0.625000      0.067797     0.041667       0
1        0.166667     0.416667      0.067797     0.041667       0
2        0.111111     0.500000      0.050847     0.041667       0
3        0.083333     0.458333      0.084746     0.041667       0
4        0.194444     0.666667      0.067797     0.041667       0
..            ...          ...           ...          ...     ...
145      0.666667     0.416667      0.711864     0.916667       2
146      0.555556     0.208333      0.677966     0.750000       2
147      0.611111     0.416667      0.711864     0.791667       2
148      0.527778     0.583333      0.745763     0.916667       2
149      0.444444     0.416667      0.694915     0.708333       2

[150 rows x 5 columns]

In [19]:
# Split data into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)